# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/
Scripts/
pyvenv.cfg
.installed

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Local Config
config.conf
config.conf[0-9]*

# Temp files
*.tmp
*.temp
*.png
*.jpg
*.jpeg
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.zip
*.rar
*.7z
*.mp3
*.wav
*.m4a

# Build
dist/
build/
*.spec

# Project specific
target/
models/
file-classifier-master*/
tesseract_install.inf
