# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/
Scripts/
pyvenv.cfg

# IDE
.idea/
.vscode/
*.swp
*.swo

# 项目特定
logs/
target/
models/
*.log
*.spec
config.conf
config.conf[0-9]*
tesseract_install.inf
!config.conf.template

# 构建输出
dist/
build/
