# 基本依赖
requests==2.31.0
pillow==10.2.0
pytesseract==0.3.10
python-docx==1.1.2
PyPDF2==3.0.1
SpeechRecognition==3.10.0
pydub==0.25.1
py7zr==0.20.8
rarfile==4.2
tqdm==4.66.1

# GUI 相关
pywin32==306
pywin32-ctypes==0.2.3

# 打包相关
pyinstaller==6.3.0
vosk==0.3.45

# 文件处理
python-magic==0.4.27
python-magic-bin==0.4.14

# 工具库
configparser==7.1.0
typing-extensions==4.12.2

# 压缩相关
pyzstd==0.16.2
pyppmd==1.1.1
pybcj==1.0.3
brotli==1.1.0
inflate64==1.0.1
multivolumefile==0.2.3

# 其他依赖
lxml==5.3.1
texttable==1.7.0
websockets==14.2
srt==3.5.3 